<a href="https://colab.research.google.com/github/ravitejanalla/RAVI/blob/master/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:

import pandas as pd
from numpy import random
d=pd.DataFrame(random.randn(10,4))
d

          0         1         2         3
0  1.394796 -0.404415  0.110065  1.384383
1  0.266892 -1.594907 -0.413978  1.763030
2 -0.616522 -1.881337  0.188102  0.294798
3  0.513629  1.479882  0.235090 -1.383237
4 -1.657199 -0.130900  1.233974 -0.632648
5 -0.014953 -0.223967  1.566691 -1.093757
6  0.324358  1.179331 -0.748252  0.364424
7 -1.476759 -2.279239  1.348580 -1.182691
8  1.117567  0.864778 -0.499225 -0.454673
9 -0.050469 -0.128961 -0.070998  2.318025

In [8]:
d1=pd.DataFrame({'s.no':[0,1,2,3,4,5,6,7,8,9]})
d1

   s.no
0     0
1     1
2     2
3     3
4     4
5     5
6     6
7     7
8     8
9     9

In [13]:
t=pd.concat([d,d1],axis=1)
t

          0         1         2         3  s.no
0  1.394796 -0.404415  0.110065  1.384383     0
1  0.266892 -1.594907 -0.413978  1.763030     1
2 -0.616522 -1.881337  0.188102  0.294798     2
3  0.513629  1.479882  0.235090 -1.383237     3
4 -1.657199 -0.130900  1.233974 -0.632648     4
5 -0.014953 -0.223967  1.566691 -1.093757     5
6  0.324358  1.179331 -0.748252  0.364424     6
7 -1.476759 -2.279239  1.348580 -1.182691     7
8  1.117567  0.864778 -0.499225 -0.454673     8
9 -0.050469 -0.128961 -0.070998  2.318025     9

In [16]:
import numpy as numpy
s=np.array([[1,2,3],[4,5,6]])
s
s.ndim
s.dtype

dtype('int64')